.box1{
    background-color: red;
}
.box2{
    background-color: aqua;
}
.box3{
    background-color: brown;
}
.box4{
background-color: coral;
}
.box5{
background-color: blueviolet;
}
.box6{
background-color: cadetblue;
}
.box7{
background-color: chocolate;
}
.box8{
background-color: burlywood;
}
.box9{
background-color: darkcyan}
.box10{
background-color: cornflowerblue;}
.box11{
background-color:  #660000;
}
.box13{
background-color: darkgoldenrod;
}
.box14{
background-color: darkslateblue;}
.box15{
background-color: darkgreen;
}
.box16{
background-color: darkolivegreen;
}
.box17{
background-color: violet;
}